@import '../../styles/utils/vars';

.button-favourite {
  margin-left: 8px;
  width: 40px;
  height: 40px;
  background-color: $surface2;
  background-image: url("../../public/header-icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  border: 1px solid transparent;
  transition: all 0.3s;

  &--added {
    background-image: url("../../public/icons/heart-icon-added.svg");
  }

  &:hover {
    background-color: $secondary;
  }
}