@import '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.categories {
  font-family: Mont-Bold, sans-serif;

  &__title {
    margin: 0 0 24px;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: $white;

    @include onTablet {
      font-size: 32px;
      line-height: 41px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include onTablet {
      margin-bottom: 0;
    }
  }
}