iframe {
  display: none;
}

.phone {
  padding: 32px;
  background: $surface1;
  max-width: $max-card-width-small;

  @include onTablet {
    max-width: $max-card-width-middle;
  }

  @include onDesktop {
    max-width: $max-card-width-lagre;
  }

  &__image {
    display: block;
    width: $card-img-width-small;
    padding-bottom: 24px;

    @include onTablet {
      max-width: $card-img-width-small;
    }

    @include onDesktop {
      max-width: $card-img-width-small;
    }

    height: 196px;
  }

  &__name {
    padding-bottom: 8px;
    font-family: Mont-Regular, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    &--link {
      font-family: Mont-Regular, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-decoration: none;
      color: $white;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    padding-bottom: 8px;

    &--fullPrice {
      margin-right: 8px;
      font-family: Mont-Regular, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
      color: $white;
    }

    &--startPrice {
      font-family: Mont-Regular, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      text-decoration-line: line-through;
      color: $secondary;
    }
  }

  &__decoration--line {
    margin-bottom: 16px;
    border: 1px solid $elements
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &--name {
      font-family: Mont-Regular, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      color: $secondary;
    }

    &--property {
      font-family: Mont-Bold, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      align-content: center;
      color: $white;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &--like {
      margin-left:8px;
      width: 40px;
      height: 40px;
      background-color: $surface2;
      background-image: url("");
      color: $white;
      border:1px solid transparent;
    }
  }
}
