iframe {
  display: none;
}

.phone {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background: $surface1;
  width: 100%;

  &__image {
    display: block;
    height: $card-image-hight-mobile;
    margin: 0 auto 24px;

    @include onTablet {
      height: $card-image-hight-tablet;
    }
  }

  &__name {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    flex-grow: 1;

    &--link {
      font-family: Mont-Regular, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-decoration: none;
      color: $white;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    padding-bottom: 8px;

    &--fullPrice {
      margin-right: 8px;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
      color: $white;
    }

    &--startPrice {
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      text-decoration-line: line-through;
      color: $secondary;
    }
  }

  &__decoration--line {
    margin-bottom: 16px;
    border: 1px solid $elements
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &--last {
      margin-bottom: 16px ;
    }

    &--name {
      font-family: Mont-Regular, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      color: $secondary;
    }

    &--property {
      font-family: Mont-Bold, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      align-content: center;
      color: $white;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}