@import "../../styles/utils/mixins";
@import "../../styles/utils/vars";

.product-catalog {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include onTablet {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }

  @include onWideTablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);

  }
}