@import '../../styles/utils/mixins';

.logo {
  padding: 8px 0;
  margin-right: 32px;

  @include onDesktop {
    margin-right: 48px;
  }

  &__img {
    width: 64px;

    @include onDesktop {
      width: 80px;
    }
  }
}
