.button-accent {
  width: 100%;
  color: white;
  background-color: $accent;
  height: 40px;
  font-family: Mont-Regular, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  border-color: transparent;

  &:hover {
    background-color: $accentHover;
  }

  @include onDesktop {
    &:focus {
      background-color: $surface2;
    }
  }


}