.button-accent {
  height: 40px;
  background-color: $accent;
  text-align: center;

  &__addToCard {
    display: block;
    color: white;
    width: 180px;
    font-family: Mont-Regular, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px
  }
}