@import "../../../styles/utils/mixins";
@import "../../../styles/utils/vars";

.cart-page {
  margin-bottom: 56px;
  position: relative;
  height: 100%;

  @include onTablet {
    margin-bottom: 64px;
  }

  &__without-product {
    font-weight: 800;
    line-height: 41px;
    color: $white;
    font-size: 22px;
    width: 100%;
    max-width: max-content;
    margin: auto;

    @include onTablet {
      font-size: 42px;
    }
    
    @include onDesktop {
      margin-top: 70px;
      font-size: 52px;
    }
  }
  
  &__back-button {
    margin-top: 25px;
    margin-bottom: 24px;

    @include onTablet {
      margin-top: 40px;
      margin-bottom: 16px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: $white;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.checkout {
  padding: 24px;
  text-align: center;
  border: 1px solid $elements;

  &-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: $white;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $secondary;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $elements;

    @include onDesktop {
      padding-bottom: 25px;
      margin-bottom: 24px;
    }
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    max-height: 100%;
    padding: 14px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: $white;
    background-color: $accent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $accentHover;
    }

    @include onDesktop {
      &:focus {
        background-color: $surface2;
      }
    }
  }
}