@import "../../../styles/utils/vars";
@import "../../../styles/utils/mixins";

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;

  &__list {
    display: flex;
    color: $white;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 25px;
    height: 25px;
    
    color: $white;
    background-color: $surface1;
    margin: 0 4px;

    @include onSmallPhone {
      width: 32px;
      height: 32px;
    }

    &_prev {
      margin-right: 16px;
      background-color: $surface2;
    }

    &_next {
      margin-left: 16px;
      background-color: $surface2;
    }

    &:hover {
      background-color: $icons;
      cursor: pointer;
    }

    &_active {
      background-color: $accent;
    }

    &_disabled {
      pointer-events: none;
    }
  }
}
