@import "../../../styles/utils/vars";
@import "../../../styles/utils/mixins";

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 64px;

  &__list {
    display: flex;
    margin-bottom: 16px;
    color: $white;
  }

  @include onTablet {
    margin-bottom: 80px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 32px;
    height: 32px;
    color: $white;
    background-color: $surface1;
    margin: 0 4px;

    &_prev {
      margin-right: 16px;
      background-color: $surface2;

      // &::after {
      //   // content: url('../../../public/img/pag/arrowleft.svg');

      // }
    }

    &_next {
      margin-left: 16px;
      background-color: $surface2;

      // &::after {
      //   // content: url('../../../public/img/pag/arrowrigth.svg');

      // }
    }

    &:hover {
      background-color: $icons;
      cursor: pointer;
    }

    &_active {
      background-color: $accent;
    }

    &_disabled {
      pointer-events: none;
    }
  }
}
