.navbar {
  display: flex;
  flex: 1;
  margin-right: 32px;

  &__shopcard-control {
    display: none;
    position: relative;

    @include onTablet {
      display: flex;
    }
  }

  &__shopcard-control--mobile {
    display: flex;
    border-top: 1px solid $surface2;
    background-color: $black;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    @include onTablet {
      display: flex;
      flex-direction: row;
      position: static;
    }
  }

  &__shopcard-control-link {
    position: relative;
    padding: 16px 15px 12px;
    border-left: 1px solid $surface2;

    @include onDesktop {
      padding: 26px 23px 20px;
    }
  }

  &__shopcard-control--item--mobile {
    display: flex;
    bottom: 0;
    width: 50%;
    justify-content: center;
    border-right: 1px solid $surface2;

    @include onTablet {
      border-right: none;
      border-left: 1px solid $surface2;
    }
  }

  
  &__shopcard-control-img {
    width: 16px;
    height: 16px;
  }

  &__menu-list-link--mobile {
    display: flex;
    bottom: 0;
    left: 0;
    border-left: none;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 24px 0;

    @include onTablet {
      display: flex;
      padding: 16px 15px 15px;
    }

    @include onDesktop {
      display: flex;
      padding: 26px 23px 22px;
    }
  }

  &__menu-list {
    display: none;

    @include onTablet {
      display: flex;
      flex-basis: 430px;
    }

    justify-content: space-between;
  }

  &__menu-list--mobile {
    display: flex;
    background-color: $black;
    padding: 36px 10px 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: fixed;
    top: 46px;
    left: 0;
    right: 0;

    @include onTablet {
      display: flex;
      flex-direction: row;
      position: static;
      justify-content: space-between;
      padding: 0;
    }
  }

  &__menu-list-link {
    display: block;
    color: $secondary;
    font-family: Mont-Bold, sans-serif;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
    position: relative;

    &:hover {
      color: $white;
    }
  }

  &__menu-list-link-container {
    padding: 6px 0;
    margin-bottom: 28px;
    bottom: 0;

    @include onTablet {
      padding: 18px 0;
      margin-bottom: 0;
    }

    @include onDesktop {
      padding: 26px 0;
    }
  }

  &__menu-list-link--active {
    &::after {
      content: '';
      background-color: $white;
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
    }
  }

  &__menu__btn {
    display: block;
    padding: 16px 16px 13px;
    border-left: 1px solid $surface2;

    @include onTablet {
      display: none;
    }
  }

  &__menu__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      background: none;
      border: none;
    }
}
